<div class="page-sidebar">
    <a class="logo-box" routerLink="/dashboard">
        <span>
            <i class="mdi mdi-chemical-weapon" id="fixed-sidebar-toggle-button"></i>
            <span>TWEET MINER</span>
        </span>
        <i class="mdi mdi-close" id="sidebar-toggle-button-close"></i>
    </a>
    <div class="page-sidebar-inner">
        <div class="page-sidebar-menu">
            <ul class="accordion-menu">
                <li routerLinkActive="active-page">
                    <a routerLink='/dashboard'>
                        <i class="menu-icon mdi mdi-home"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li routerLinkActive="active-page">
                    <a routerLink="/dashboard/minetweet">
                        <i class="menu-icon mdi mdi-twitter-circle"></i>
                        <span>Mine Tweet</span>
                    </a>
                </li>
                <li routerLinkActive="active-page">
                    <a routerLink="/dashboard/apidetails">
                        <i class="menu-icon mdi mdi mdi-account-settings-variant"></i>
                        <span>API Details</span>
                    </a>
                </li>
                <li routerLinkActive="active-page">
                    <a routerLink="/dashboard/yourfolder">
                        <i class="menu-icon mdi mdi mdi mdi-folder"></i>
                        <span>Your Folder</span>
                    </a>
                </li>
                <li routerLinkActive="active-page">
                    <a routerLink="/dashboard/trends">
                        <i class="menu-icon mdi mdi-trending-up"></i>
                        <span>Trends</span>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
</div>